In [1]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\users\xnovaq.17\documents\newenvironment\lib\site-packages (2.3.4)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
#1D array
n1 = np.array([1,2,3,4,5])
print(n1)

[1 2 3 4 5]

In [33]:
#2D array     #0th row,1st row
n2 = np.array([[1,2,3],[4,5,6]]) 
print(n2)

[[1 2 3]
 [4 5 6]]

In [11]:
#Zeros filled 2D array
n3 = np.zeros([3,4]) # floating point
print(n3)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [10]:
#Zeros filled 2D array
n3 = np.zeros([3,4] , dtype = 'int32')
print(n3)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [14]:
#array filled with ones
n4 = np.ones([2,3,3], dtype = 'int32')
print(n4)

[[[1 1 1]
  [1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]
  [1 1 1]]]

In [18]:
#empty array
n5 = np.empty([1,3])  #Random Junk values
print(n5)

[[2.12199579e-314 2.12199579e-314 2.12199579e-314]]

In [19]:
#array with range values
n6 = np.arange(7)
print(n6)

[0 1 2 3 4 5 6]

In [20]:
n7 = np.arange(-5,30,5) #start,stop,step
print(n7)

[-5  0  5 10 15 20 25]

In [21]:
#linearly spaced entries
n8 = np.linspace(0,20,num=5)
print(n8)

[ 0.  5. 10. 15. 20.]

In [22]:
n9 = np.full([2,5],77)
print(n9)

[[77 77 77 77 77]
 [77 77 77 77 77]]

In [23]:
n10 = np.empty([1,4])
print(n10)

[[ 5. 10. 15. 20.]]

In [24]:
n10.fill(7)
print(n10)

[[7. 7. 7. 7.]]

In [27]:
#Accessing
print(n1[0]) #first value

1

In [28]:
print(n1[-1]) #last value

5

In [30]:
print(n2[1,0]) #2nd array , 1st index value

4

In [31]:
print(n2[1,:]) #1st row, all values

[4 5 6]

In [36]:
print(n2[:,2]) #3rd column

[3 6]

In [37]:
n4[1,1,2] = 10 #1
print(n4)

[[[ 1  1  1]
  [ 1  1  1]
  [ 1  1  1]]

 [[ 1  1  1]
  [ 1  1 10]
  [ 1  1  1]]]

In [38]:
data = np.array([
    [1, 23, 172.4, 68.2, 88.5],
    [2, 35, 181.2, 82.1, 74.3],
    [3, 29, 165.3, 59.4, 91.2],
    [4, 41, 177.8, 79.6, 67.9],
    [5, 22, 169.0, 63.7, 84.1],
    [6, 33, 174.5, 70.4, 78.8],
    [7, 27, 182.1, 85.0, 72.5],
    [8, 30, 168.9, 62.9, 89.3],
    [9, 25, 176.2, 74.2, 80.7],
    [10, 38, 179.5, 77.1, 69.4]
])


header = "id,age,height_cm,weight_kg,score"
np.savetxt("data.csv", data, delimiter=",", header=header, comments="")

print("CSV file 'data.csv' created successfully!")

CSV file 'data.csv' created successfully!

In [39]:
print(data)

[[  1.   23.  172.4  68.2  88.5]
 [  2.   35.  181.2  82.1  74.3]
 [  3.   29.  165.3  59.4  91.2]
 [  4.   41.  177.8  79.6  67.9]
 [  5.   22.  169.   63.7  84.1]
 [  6.   33.  174.5  70.4  78.8]
 [  7.   27.  182.1  85.   72.5]
 [  8.   30.  168.9  62.9  89.3]
 [  9.   25.  176.2  74.2  80.7]
 [ 10.   38.  179.5  77.1  69.4]]

In [42]:
print("Loaded Data:\n", data)

Loaded Data:
 [[  1.   23.  172.4  68.2  88.5]
 [  2.   35.  181.2  82.1  74.3]
 [  3.   29.  165.3  59.4  91.2]
 [  4.   41.  177.8  79.6  67.9]
 [  5.   22.  169.   63.7  84.1]
 [  6.   33.  174.5  70.4  78.8]
 [  7.   27.  182.1  85.   72.5]
 [  8.   30.  168.9  62.9  89.3]
 [  9.   25.  176.2  74.2  80.7]
 [ 10.   38.  179.5  77.1  69.4]]

In [45]:
print("Size (total elements):", data.size)
print("Shape (rows, columns):", data.shape)
print("Dimensions:", data.ndim)
print("Data type:", data.dtype)

Size (total elements): 50
Shape (rows, columns): (10, 5)
Dimensions: 2
Data type: float64

In [46]:
#Sorting
print("\nSORTING")

# Sort each row
print("Row-wise sort:\n", np.sort(data, axis=1))

# Sort each column
print("\nColumn-wise sort:\n", np.sort(data, axis=0))

SORTING
Row-wise sort:
 [[  1.   23.   68.2  88.5 172.4]
 [  2.   35.   74.3  82.1 181.2]
 [  3.   29.   59.4  91.2 165.3]
 [  4.   41.   67.9  79.6 177.8]
 [  5.   22.   63.7  84.1 169. ]
 [  6.   33.   70.4  78.8 174.5]
 [  7.   27.   72.5  85.  182.1]
 [  8.   30.   62.9  89.3 168.9]
 [  9.   25.   74.2  80.7 176.2]
 [ 10.   38.   69.4  77.1 179.5]]

Column-wise sort:
 [[  1.   22.  165.3  59.4  67.9]
 [  2.   23.  168.9  62.9  69.4]
 [  3.   25.  169.   63.7  72.5]
 [  4.   27.  172.4  68.2  74.3]
 [  5.   29.  174.5  70.4  78.8]
 [  6.   30.  176.2  74.2  80.7]
 [  7.   33.  177.8  77.1  84.1]
 [  8.   35.  179.5  79.6  88.5]
 [  9.   38.  181.2  82.1  89.3]
 [ 10.   41.  182.1  85.   91.2]]

In [47]:
#Reshaping & Array convertions
flat = data.flatten()
print("\nFlattened data:\n", flat)

Flattened data:
 [  1.   23.  172.4  68.2  88.5   2.   35.  181.2  82.1  74.3   3.   29.
 165.3  59.4  91.2   4.   41.  177.8  79.6  67.9   5.   22.  169.   63.7
  84.1   6.   33.  174.5  70.4  78.8   7.   27.  182.1  85.   72.5   8.
  30.  168.9  62.9  89.3   9.   25.  176.2  74.2  80.7  10.   38.  179.5
  77.1  69.4]

In [48]:
reshaped = flat.reshape(5, 10)   # Just for demonstration
print("\nReshaped to 5×10:\n", reshaped)

Reshaped to 5×10:
 [[  1.   23.  172.4  68.2  88.5   2.   35.  181.2  82.1  74.3]
 [  3.   29.  165.3  59.4  91.2   4.   41.  177.8  79.6  67.9]
 [  5.   22.  169.   63.7  84.1   6.   33.  174.5  70.4  78.8]
 [  7.   27.  182.1  85.   72.5   8.   30.  168.9  62.9  89.3]
 [  9.   25.  176.2  74.2  80.7  10.   38.  179.5  77.1  69.4]]

In [49]:
print("\nTranspose of reshaped:\n", reshaped.T)

Transpose of reshaped:
 [[  1.    3.    5.    7.    9. ]
 [ 23.   29.   22.   27.   25. ]
 [172.4 165.3 169.  182.1 176.2]
 [ 68.2  59.4  63.7  85.   74.2]
 [ 88.5  91.2  84.1  72.5  80.7]
 [  2.    4.    6.    8.   10. ]
 [ 35.   41.   33.   30.   38. ]
 [181.2 177.8 174.5 168.9 179.5]
 [ 82.1  79.6  70.4  62.9  77.1]
 [ 74.3  67.9  78.8  89.3  69.4]]

In [50]:
print("\nIndexing & Slicing")

print("First row:", data[0])
print("Last row:", data[-1])

Indexing & Slicing
First row: [  1.   23.  172.4  68.2  88.5]
Last row: [ 10.   38.  179.5  77.1  69.4]

In [51]:
# Slicing rows
print("First 3 rows:\n", data[:3])

First 3 rows:
 [[  1.   23.  172.4  68.2  88.5]
 [  2.   35.  181.2  82.1  74.3]
 [  3.   29.  165.3  59.4  91.2]]

In [52]:
# Slicing columns (age = column 1)
print("Age column:", data[:, 1])

Age column: [23. 35. 29. 41. 22. 33. 27. 30. 25. 38.]

In [53]:
# Filter
print("People with age > 30:\n", data[data[:, 1] > 30])

People with age > 30:
 [[  2.   35.  181.2  82.1  74.3]
 [  4.   41.  177.8  79.6  67.9]
 [  6.   33.  174.5  70.4  78.8]
 [ 10.   38.  179.5  77.1  69.4]]

In [54]:
#Math Operations

print( np.sum(data))
print( np.mean(data))
print( np.mean(data, axis=0))
print( np.std(data))
print( np.min(data))
print( np.max(data))

3624.2
72.484
[  5.5   30.3  174.69  72.26  79.67]
58.260979600415226
1.0
182.1

In [55]:
#Random numbers
print( np.random.rand())

0.9294321642715236