In [1]:
print ('Angel')

Angel

In [3]:
#Assignment operator
a=7
b=1
a+=b
print(a)
a-=b
print(a)

8
7

In [4]:
a=12
b=12
print (a is b)

True

In [7]:
a=[1,2,3]
b=[1,2,3]
print (a is not b)

True

In [10]:
l=[2,3,4,5,6]
print(2 in l)
print(8 not in l)

True
True

In [13]:
a = 10
b = 3
print( a + b )

13

In [14]:
# 1. Arithmetic Operators
a = 10
b = 3
print( a + b)        # addition
print( a - b)        # subtraction
print( a * b)        # multiplication
print( a / b)        # float division
print( a // b)      # floor division
print( a % b)        # remainder (modulus)
print( a ** b)      # exponentiation

13
7
30
3.3333333333333335
3
1
1000

In [16]:
c# 2. Comparison

print(a == b)       # equal → False
print(a != b)       # not equal → True
print(a > b)        # greater → True
print(a < b)        # less → False
print(a >= b)       # greater or equal → True
print(a <= b)       # less or equal → False

False
True
True
False
True
False

In [1]:
# 3.Logical 

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [3]:

# Assignment Operators
x = 5
x += 2  # x = x + 2
print(x)
x *= 3  # x = x * 3
print(x)

7
21

In [4]:
# Identity Operators
a = [1, 2, 3]
b = a  # Assign b the same reference as a
c = [1, 2, 3]

print("a is b:", a is b)  # True, both refer to the same object
print("a is c:", a is c)  # False, different objects even though the content is the same
print("a is not b:", a is not b)  # False, because a and b are the same object

a is b: True
a is c: False
a is not b: False

In [5]:
# Membership Operators
list1 = [1, 2, 3, 4]
print("3 in list1:", 3 in list1)  # True, 3 is in the list
print("5 not in list1:", 5 not in list1)  # True, 5 is not in the list

3 in list1: True
5 not in list1: True

In [6]:
#Python Datatypes

# Numeric Types
x = 10          # int
y = 3.14        # float
z = 3 + 4j      # complex

print("Type of x:", type(x), "Value:", x)
print("Type of y:", type(y), "Value:", y)
print("Type of z:", type(z), "Value:", z)

Type of x: <class 'int'> Value: 10
Type of y: <class 'float'> Value: 3.14
Type of z: <class 'complex'> Value: (3+4j)

In [7]:
# List
fruits = ['apple', 'banana', 'cherry']

print(type(fruits), fruits)  # list type

<class 'list'> ['apple', 'banana', 'cherry']

In [8]:
# Tuple
coordinates = (1, 2, 3)

print(type(coordinates), coordinates)  # tuple type

<class 'tuple'> (1, 2, 3)

In [9]:
# Dictionary
person = {'name': 'Alice', 'age': 25}

print(type(person), person)  # dict type

<class 'dict'> {'name': 'Alice', 'age': 25}

In [10]:
# Set
unique_numbers = {1, 2, 3, 4}

print(type(unique_numbers), unique_numbers)  # set type

<class 'set'> {1, 2, 3, 4}

In [11]:
# Boolean
is_active = True

print(type(is_active), is_active)  # bool type

<class 'bool'> True

In [12]:
# Boolean example with if-else
is_active = True

# Check if is_active is True or False
if is_active:
    print("The system is active!")
else:
    print("The system is inactive.")

The system is active!

In [13]:
x = 7
print("Is x greater than 5?", x > 5)       # True
print("Is x less than 3?", x < 3)          # False
print("Is x equal to 7?", x == 7)          # True
print("Is x not equal to 10?", x != 10)    # True

Is x greater than 5? True
Is x less than 3? False
Is x equal to 7? True
Is x not equal to 10? True